.footer {
  margin-top: auto;
  padding-top: (3 * $gutter);
  padding-bottom: $gutter;
  background-color: color(gray-subtle-bg);
  border-top: 1px solid color(gray-delineate);
  color: lighten(color(darkblue-complement), 10%);
  text-transform: uppercase;

  @include breakpoint-down(md) {
    padding-top: (2 * $gutter);
  }

  @include breakpoint-down(sm) {
    padding-bottom: (1.5 * $gutter);
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
  }

  &-logo-wrap {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint-down(sm) {
      order: 2;
      width: 90px;
      padding: 0 15px;
    }

    @include breakpoint-down(xs) {
      width: 100%;
      order: 1;
      margin-bottom: 30px;

      a {
        width: (2.5 * $gutter);
      }
    }
  }

  &-logo {
    display: inline-block;
    width: 60px;

    img {
      display: inline-block;
      width: 100%;
      @extend %smooth;
      @include transition(0.2s opacity ease);

      &:hover {
        opacity: 0.85;
      }
    }
  }

  &-links {
    display: block;
    width: 100%;
    padding: 10px 0;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    &-social {
      position: relative;
      padding: (2 * $gutter) 0;
      max-width: none;

      @include breakpoint-down(sm) {
        order: 4;
        padding: (1.5 * $gutter) 0;
      }

      &:before,
      &:after {
        content: '';
        @extend %abs-center;
      }

      &:before {
        width: 100%;
        height: 2px;
        background-color: color(gray-delineate);
      }

      &:after {
        width: 350px;
        height: 100%;
        background-color: color(gray-subtle-bg);

        @include breakpoint-down(sm) {
          width: 280px;
        }

        @include breakpoint-down(xs) {
          width: 230px;
        }
      }
    }

    &-platform {
      @include breakpoint-down(sm) {
        order: 1;
        width: calc(0.5 * (100% - 90px));
      }

      @include breakpoint-down(xs) {
        order: 2;
        width: 50%;
      }
    }

    &-coin {
      @include breakpoint-down(sm) {
        order: 3;
        width: calc(0.5 * (100% - 90px));
      }

      @include breakpoint-down(xs) {
        width: 50%;
      }
    }

    &-legal {
      @include breakpoint-down(sm) {
        order: 5;
      }
    }
  }

  &-link {
    position: relative;
    z-index: zindex(raise);
    display: inline-block;
    padding: 10px;
    @extend %smooth;
    @include transition(color 0.2s ease);

    @include breakpoint-down(sm) {
      margin-bottom: 10px;

      .footer-links-platform & {
        display: block;
      }

      .footer-links-coin & {
        display: block;
      }
    }

    &:hover {
      color: darken(color(darkblue-complement), 10%);
    }

    &.descriptor {
      margin: 0 10px;
      border-bottom: 1px solid color(darkblue-complement);
      color: color(darkblue-complement);

      @include breakpoint-down(sm) {
        margin: 0 5px 20px 5px;
        font-weight: 700;
        height: 2em;
        box-sizing: content-box;
        padding-bottom: 5px;
      }
    }

    &-social {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin: 0 15px;
      z-index: zindex(elevate);

      @include breakpoint-down(sm) {
        margin: 0 10px;
      }

      .icon {
        @extend %smooth;
        @include transition(0.2s opacity ease);
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint-down(sm) {
    width: 35px;
    height: 35px;
  }

  &-discord {
    background-image: url(../assets/discord.png);
  }
  &-telegram {
    background-image: url(../assets/telegram.png);
  }
  &-twitter {
    background-image: url(../assets/twitter.png);
  }
  &-reddit {
    background-image: url(../assets/reddit.png);
  }
}
