.container {
  width: 100%;
  max-width: 1520px;
  padding: 0 (2 * $gutter);
  margin: 0 auto;

  @include breakpoint-down(lg) {
    padding: 0 $gutter;
  }
}

section {
  padding-top: (3 * $gutter);
  padding-bottom: (2 * $gutter);

  @include breakpoint-down(lg) {
    padding-top: (2 * $gutter);
    padding-bottom: (1.5 * $gutter);
  }

  @include breakpoint-down(xs) {
    padding-top: (1.5 * $gutter);
    padding-bottom: $gutter;
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 #{-$gutter};

  @include breakpoint-down(lg) {
    margin: 0 #{-0.5 * $gutter};
  }
}

.row-center {
  @extend  .row;
  justify-content: center;
}

.col-fluid {
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 $gutter;
  margin-bottom: $gutter;

  @include breakpoint-down(lg) {
    padding: 0 #{0.5 * $gutter};
  }
}

@mixin colParams($iteration, $breakpoint:false) {
  @if (not $breakpoint) {
    width: #{$iteration * (100 / 12) + '%'};
    padding: 0 $gutter;
    margin-bottom: $gutter;
  } @else {
    @include breakpoint-down($breakpoint) {
      width: #{$iteration * (100 / 12) + '%'};
      padding: 0 $gutter;
      margin-bottom: $gutter;
    }
  }

  @include breakpoint-down(lg) {
    padding: 0 #{0.5 * $gutter};
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include colParams($i);
  }

  @each $bp-key, $bp-value in $breakpoints {
    .col-#{$bp-key + '-' + $i} {
      @include colParams($i, $bp-key);
    }
  }
}
