.header {
  position: fixed;
  z-index: zindex(sticky);
  height: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  border-bottom: 2px solid color(gray-delineate);
  background-color: rgba(255,255,255,0.95);
  @extend %smooth;
  @include transition(0.3s transform ease-in-out, 0.3s box-shadow ease-out);

  &.concealed {
    transform: translate(0, -200%);
  }

  &.sticky {
    box-shadow: $header-shadow;
  }

  &.opaque {
    background-color: #fff;
  }

  @include breakpoint-down(lg) {
    padding: 0 $gutter;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
  }

  @include breakpoint-down(sm) {
    height: #{0.625 * $desktop-spacing};
  }
}

.header-logo {
  @extend %abs-center;

  @include breakpoint-down(xl) {
    left: #{$side-nav-width + 20px};
    @include transform(translate(0, -50%));
  }

  @include breakpoint-down(lg) {
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  img {
    display: inline-block;
    @extend %smooth;
    @include transition(0.2s opacity ease);
    width: 80px;

    @include breakpoint-down(lg) {
      width: 70px;
    }

    @include breakpoint-down(sm) {
      width: 60px;
    }

    &:hover {
      opacity: 0.85;
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lighten(color(darkblue-complement), 10%);

  @include breakpoint-down(xl) {
    justify-content: flex-end;
  }

  @include breakpoint-down(lg) {
    display: block;
    position: absolute;
    top: #{0.75 * $desktop-spacing};
    right: 0;
    background: #fff;
    z-index: zindex(default);
    width: 33.33%;
    padding: #{0.5 * $desktop-padding};
    max-height: calc(100vh - #{$desktop-spacing});
    overflow-y: scroll;
    @include transform(translate(100%, 0) translate3d(0, 0, 0));
    @include transition(0.2s transform ease-out, 0.2s box-shadow ease);

    &.unconcealed {
      box-shadow: $mobile-nav-shadow;
      @include transform(translate(0, 0) translate3d(0, 0, 0));
    }
  }

  @include breakpoint-down(md) {
    width: 50%;
    padding: #{0.25 * $desktop-padding} #{0.5 * $desktop-padding};
  };

  @include breakpoint-down(sm) {
    width: 66.66%;
    top: #{0.625 * $desktop-spacing};
    max-height: calc(100vh - #{0.625 * $desktop-spacing});
  }

  @include breakpoint-down(xs) {
    width: calc(100% - #{$side-nav-width});
  }
}

.main-nav-item {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  @extend %smooth;
  @include transition(0.2s color ease);

  @include breakpoint-down(xl) {
    margin: 0 7.5px;
    font-size: 15px;
  }

  @include breakpoint-down(lg) {
    display: block;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 0;
  }

  a {
    display: inline-block;
    line-height: 100px;

    @include breakpoint-down(lg) {
      line-height: 20px;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 0;
    height: 2px;
    background-color: color(blue-accent);
    @extend %smooth;
    @include transition(0.2s width ease);
  }

  &:hover,
  &.active {
    color: darken(color(darkblue-complement), 10%);

    &:after {
      width: 100%
    }

    @include breakpoint-down(lg) {
      &:after {
        display: none;
      }
    }
  }

  &.active {
    @include breakpoint-down(lg) {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.main-nav-list {
  &:first-child {
    @include breakpoint-down(xxl) {
      margin-left: $side-nav-width;
    }

    @include breakpoint-down(xl) {
      margin: 0;
    }
  }

  &:nth-child(2) {
    @include breakpoint-down(lg) {
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid color(gray-delineate);
    }
  }
}

.side-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: $side-nav-width;
  z-index: zindex(raise);
}

.side-nav-item {
  color: #fff;
  width: 75%;
  display: flex;
  @extend %smooth;
  @include transition(0.2s width ease, 0.2s background-color ease, 0.2s box-shadow ease);

  a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100px;
  }

  &:first-child {
    position: relative;
    z-index: zindex(default);
    background-color: color(blue-brand);

    &:hover {
      background-color: lighten(color(blue-brand), 5%);
    }

    .sticky & {
      box-shadow: $side-tag-lg-shadow;
    }

    a {
      @include breakpoint-down(lg) {
        height: #{0.75 * $desktop-spacing};
      }

      @include breakpoint-down(sm) {
        height: #{0.625 * $desktop-spacing};
      }
    }
  }

  &:nth-child(2) {
    background-color: color(gray-accent);

    &:hover {
      background-color: lighten(color(gray-accent), 5%);
    }

    .sticky & {
      box-shadow: $side-tag-sm-shadow;
    }

    @include breakpoint-down(lg) {
      width: 100%;
    }

    a {
      @include breakpoint-down(lg) {
        height: #{0.33 * $desktop-spacing};
      }

      @include breakpoint-down(sm) {
        height: #{0.25 * $desktop-spacing};
      }
    }
  }

  &.active {
    width: 100%;
  }

  &:hover {
    width: 100%;
  }
}

.side-nav-vertical-text {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: calc(100% - 20px);
  @include transform(rotate(270deg));
  @include transform-origin(bottom left);

  @include breakpoint-down(lg) {
    top: 50%;
    bottom: auto;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include transform-origin(50% 50% 0);
  }
}

.mobile-menu {
  display: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/burger-menu.svg);

  @include breakpoint-down(lg) {
    display: inline-block;
  }

  @include breakpoint-down(sm) {
    height: 35px;
    width: 35px;
  }
}
