.article-preview {
  &-section {
    .btn-wrap {
      text-align: center;
    }

    .wrap-intersect {
      @include transform(translate(0, calc(50%)));

      @include breakpoint-down(sm) {
        @include transform(translate(0, 50%));
      }
    }
  }

  &-item {
    @include breakpoint-down(md) {
      flex-basis: auto;
      flex-grow: initial;
      margin-bottom: (1.5 * $gutter);
    }

    @include breakpoint-only(md) {
      text-align: center;
    }
  }

  &-wrap {
    display: block;
    @include transition(0.2s transform ease);

    &:hover {
      @include transform(translate(0, -3px));
    }

    @include breakpoint-down(sm) {
      max-width: 400px;
      margin: 0 auto;
    }

    h4 {
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }

  &-subtitle {
    position: relative;
    height: 7.5em;
    overflow: hidden;

    @include breakpoint-down(sm) {
      height: 4em;
    }

    .article-preview-wrap:hover &:after {
      height: 0;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4.5em;
      @include transition(0.2s height ease);
      @include gradientTwoStops(270, rgba(255, 255, 255, 1), 0, rgba(255, 255, 255, 0), 100%);

      @include breakpoint-down(sm) {
        height: 3em;
      }
    }
  }
}
