.btn {
  display: inline-block;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  @include transition(0.2s background-color ease);

  &-cta {
    background-color: color(blue-accent);

    &:hover {
      background-color: lighten(color(blue-accent), 5%);
    }
  }
}
