.video {

  &-section {
    position: relative;
    padding-top: 0;
    padding-bottom: $gutter;

    @include breakpoint-down(lg) {
      padding: (2 * $gutter) 0;
    }

    @include breakpoint-down(xs) {
      padding: #{0.375 * $desktop-spacing} 0;
    }
  }

  &-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: $video-section-shadow;

    @include breakpoint-down(lg) {
      width: calc(100% - #{2 * $gutter});
      margin: 0 auto;
      height: auto;
      box-shadow: none;
    }

    @include breakpoint-down(md) {
      width: calc(100% - #{$desktop-padding});
    }

    @include breakpoint-down(sm) {
      width: calc(100% - #{$desktop-padding});
    }
  }

  &-background {
    @extend %fullsize;
    z-index: zindex(raise);
    overflow: hidden;

    @include breakpoint-down(lg) {
      position: relative;
      height: 56.25vw;
    }
  }

  &-thumbnail {
    @extend %abs-center;
    width: 100%;
    z-index: zindex(default);
  }

  &-overlay {
    @extend %fullsize;
    z-index: zindex(raise);
    background-color: rgba( darken(color(darkblue-complement), 20%), .95 );
  }

  &-player {
    @extend %abs-center;
    width: 100%;
    height: 100%;
    z-index: zindex(default);

    @include breakpoint-down(lg) {
      position: relative;
      @include transform(none);
      left: auto;
      top: auto;
      height: 56.25vw;
    }
  }

  &-textbox {
    @extend %abs-center;
    z-index: zindex(elevate);
    pointer-events: none;

    @include breakpoint-down(lg) {
      position: relative;
      top: auto;
      left: auto;
      @include transform(none);
      text-align: center;
      margin-bottom: 45px;
    }

    h2 {
      max-width: 450px;
      color: #fff;

      @include breakpoint-down(lg) {
        color: #000;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
      }
    }

    .subtitle {
      max-width: 450px;
      color: #fff;

      @include breakpoint-down(xl) {
        max-width: 400px;
      }

      @include breakpoint-down(lg) {
        color: color(gray-primary-text);
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
      }

      &:first-of-type {
        margin-bottom: 40px;
      }
    }
  }
}

.icon-play {
  @extend %abs-center-smooth;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: zindex(heighten);
  @include transition(0.2s background-color ease);

  @include breakpoint-down(md) {
    width: 75px;
    height: 75px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:after {
    content: '';
    @extend %abs-center;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 17.5px solid #fff;
  }

  &:before {
    content: '';
    @extend %abs-center-smooth;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    @include transition(0.2s width ease, 0.2s height ease);

    @include breakpoint-down(md) {
      width: 90px;
      height: 90px;
    }
  }

  &:hover:before {
    width: 130px;
    height: 130px;

    @include breakpoint-down(md) {
      width: 110px;
      height: 110px;
    }
  }
}
