.hero {

  &-section {
    padding-top: (2 * $gutter);
    padding-bottom: 0;

    @include breakpoint-down(lg) {
      min-height: auto;
      padding-top: $gutter;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      flex-wrap: wrap;
      min-height: 460px;

      @include breakpoint-down(sm) {
        min-height: 390px;
      }

      @include breakpoint-down(xs) {
        min-height: 310px;
      }
    }
  }

  &-info {
    display: inline-block;
    width: 50%;
    position: relative;
    z-index: zindex(raise);
    margin-top: 60px;
    color: #000;

    @include breakpoint-down(lg) {
      text-align: center;
      width: 100%;
    }

    @include breakpoint-down(md) {
      margin-top: 60px;
    }

    @include breakpoint-down(xs) {
      margin-top: 40px;
    }

    .subtitle {
      max-width: 500px;
      font-weight: 200;
      font-size: 28px;

      @include breakpoint-down(xl) {
        font-size: 24px;
      }

      @include breakpoint-down(lg) {
        margin: 0 auto;
      }

      @include breakpoint-down(sm) {
        font-size: 20px;
      }

      @include breakpoint-down(sm) {
        font-size: 18px;
      }
    }

    .btn-wrap {
      margin-top: 40px;

      @include breakpoint-down(lg) {
        margin-top: 60px;
      }
    }
  }

  &-map {
    position: absolute;
    top: 0;
    right: $desktop-padding;
    max-width: 700px;
    width: 100%;

    @include breakpoint-down(lg) {
      width: 100%;
      right: auto;
      left: 50%;
      @include transform(translate(-50%, 0));
    }

    & object {
      width: 100%;
    }
  }

  &-summary {
    position: relative;
    text-align: right;
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;

    @include breakpoint-down(lg) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
      margin-top: 80px;
    }

    @include breakpoint-down(md) {
      margin-top: 60px;
    }

    &-3,
    &-5 {
      @extend .hero-summary;
    }

    &-5 {
      @include breakpoint-down(lg) {
        justify-content: space-evenly;
      }
    }

    &-item {

      .hero-summary-3 & {
        @include breakpoint-down(lg) {
          max-width: calc(33% - 10px);
        }

        @include breakpoint-down(xs) {
          max-width: none;
          width: 100%;
        }

        &:not(:last-child) {
          margin-bottom: 60px;

          @include breakpoint-down(lg) {
            margin-bottom: 0;
          }

          @include breakpoint-down(xs) {
            margin-bottom: 30px;
          }
        }
      }

      .hero-summary-5 & {

        @include breakpoint-down(lg) {
          width: calc(33.33% - 10px);
        }

        @include breakpoint-down(sm) {
          width: 100%;
        }

        &:not(:last-child) {
          margin-bottom: 60px;

          @include breakpoint-down(lg) {
            margin-bottom: 30px;
          }
        }
      }
    }

    &-numbers {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 7.5px;
    }

    &-descriptor {
      font-size: 16px;
      font-weight: 200;
      color: color(darkblue-complement);
    }
  }
}
