.pagination {
  display: flex;
  font-size: 20px;

  @include breakpoint-down(sm) {
    justify-content: center;
  }

  &-item {
    border-right: 1px solid #fff;
    background-color: rgba(color(blue-accent), 0.05);

    &:hover {
      background-color: rgba(color(blue-accent), 0.1);
    }

    &:first-child {
      border-left: 1px solid rgba(#9D9DFF, 0.5);
    }

    &:last-child {
      border-right: 1px solid rgba(#9D9DFF, 0.5);
    }

    &:not(:first-child):not(:last-child) {
      background-color: rgba(color(blue-accent), 0.05);

      &:hover {
        background-color: rgba(color(blue-accent), 0.1);
      }
    }

    a {
      width: 50px;
      height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include transition(0.2s background-color ease);
    }
  }
}
