//* main splash styling should be done inline or in a style tag in the actual html

.splash {
  @include transition(0.3s background-color ease-in-out);

  &.finished {
    background-color: transparent;

    &.animated {
      img {
        top: 48px;
        @include transition(0.3s width ease-in-out, 0.3s top ease-in-out);

        @include breakpoint-down(xl) {
          @include transition(0.3s top ease-in-out, 0.3s left ease-in-out, 0.3s transform ease-in-out);
          left: #{$side-nav-width + 20px};
          @include transform(translate(0, -50%));
        }

        @include breakpoint-down(lg) {
          top: 43px;
          left: 50%;
          width: 70px;
          @include transition(0.3s top ease-in-out, 0.3s left ease-in-out, 0.3s transform ease-in-out, 0.3s width ease-in-out);
          @include transform(translate(-50%, -50%));
        }

        @include breakpoint-down(sm) {
          top: 36px;
          width: 60px;
        }
      }
    }

    &:not(.animated) img {
      opacity: 0;
      @include transition(0.3s opacity ease-in-out);
    }
  }
}
