@function color($color-name) {
  @if map-has-key($color-palette, $color-name) {
    @return map-get($color-palette, $color-name);
  } @else {
    @warn "Color `#{$color-name}` does not exist in the palette";
    @return null;
  }
}

@function zindex($zindex-type) {
  @if map-has-key($zindex-layers, $zindex-type) {
    @return map-get($zindex-layers, $zindex-type);
  } @else {
    @warn "Z-index with type `#{$color-name}` does not exist in the available types";
    @return null;
  }
}