@mixin breakpoint-up($breakpoint) {
  @if map-has_key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: #{$value + 'px'}) {
      @content;
    }
  } @else {
    @warn "`#{$breakpoint}` does not exist in the breakpoint mapping";
  }
}

@mixin breakpoint-down($breakpoint) {
  @if map-has_key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (max-width: #{$value + 'px'}) {
      @content;
    }
  } @else {
    @warn "`#{$breakpoint}` does not exist in the breakpoint mapping";
  }
}

@mixin breakpoint-only($breakpoint) {
  @if map-has_key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    $prevValue: 0;
    $found: false;

    @each $bp-key, $bp-value in $breakpoints {
      @if ($bp-key == $breakpoint) {
        $found: true;
      } @else if (not $found) {
        $prevValue: $bp-value
      }
    }

    @media screen and (min-width: #{$prevValue + 'px'}) and (max-width: #{$value + 'px'}) {
      @content;
    }
  } @else {
    @warn "`#{$breakpoint}` does not exist in the breakpoint mapping";
  }
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin gradientTwoStops($direction, $start-color, $start-step, $end-color, $end-step){
  background: $start-color;
  background: -moz-linear-gradient($direction, $start-color $start-step, $end-color $end-step);
  background: -webkit-linear-gradient($direction, $start-color $start-step, $end-color $end-step);
  background: -o-linear-gradient($direction, $start-color $start-step, $end-color $end-step);
  background: -ms-linear-gradient($direction, $start-color $start-step, $end-color $end-step);
  background: linear-gradient(#{$direction + 90 + deg}, $start-color $start-step, $end-color $end-step);
}
