%abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  z-index: zindex(raise);
}

%abs-center-smooth {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%) translate3d(0 , 0, 0));
  z-index: zindex(raise);
}

%fullsize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%smooth {
  @include transform(translate3d(0 , 0, 0));
}
