$color-palette: (
  blue-brand: #008DDE,
  darkblue-complement: #375A70,
  blue-accent: #3B3BFF,
  gray-accent: #C7CFD9,
  gray-primary-text: #4D4D4D,
  gray-delineate: #E5EAEC,
  gray-subtle-bg: #FAFBFC,
  press-appearance: #639BBF,
  press-release: #9289A3,
  done: #8DB37A,
  in-progress: #E6BE45,
  pink-ripple: #C93BFF
);

$breakpoints: (
  xs: 480,
  sm: 600,
  md: 768,
  lg: 980,
  xl: 1280,
  xxl: 1680
);

$zindex-layers: (
  lower: -1,
  default: 1,
  raise: 5,
  elevate: 10,
  heighten: 50,
  backdrop: 100,
  sticky: 200,
  modal: 300,
);

$gutter: 30px;

$side-nav-width: 80px;
$desktop-padding: (2 * $gutter);
$desktop-spacing: (4 * $gutter);

$header-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
$side-tag-lg-shadow: -3px 0 6px 4px rgba(0, 0, 0, 0.1);
$side-tag-sm-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
$mobile-nav-shadow: -2px 3px 7px 2px rgba(0, 0, 0, 0.1);
$video-section-shadow: inset 0 1px 10px 1px rgba(0, 0, 0, 0.1);
$tooltip-map-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.1);
$tooltip-onboard-shadow: 0 0 50px 5px rgba(#3B3BFF, 0.15);

