.article {
  &-section {
    section {
      padding: 0;
    }
  }

  &-wrap {
    max-width: 600px;
    margin: 0 auto;

    .img-wrap {
      margin-bottom: $gutter;

      img {
        display: inline-block;
        width: 100%;
      }
    }
  }

  &-header {
    margin-bottom: (2 * $gutter);
  }

  &-writer {
    margin-bottom: 5px;
  }

  &-metainfo {
    display: flex;
    align-items: flex-start;
    margin-bottom: $gutter;

    .article-release-indicator,
    .article-appearance-indicator {
      margin-right: $gutter;
    }
  }

  &-body {
    color: #000;

    h1 {
      font-size: 28px;
      margin-bottom: 1.5em;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 1.5em;
    }

    h3 {
      font-size: 22px;
      margin-bottom: 1.5em;
    }

    h4 {
      font-size: 20px;
      margin-bottom: 1.5em;
    }

    p {
      font-size: 18px;
      margin-bottom: 1.5em;
    }

    a {
      color: color(blue-accent);
    }

    ul, ol {
      margin-bottom: 24px;
    }

    li {
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    img {
      max-width: 100%;
    }

    iframe {
      max-width: 100%;
    }
  }
}
