.page-coin {
  .hero-section {
    padding-bottom: (2 * $gutter);

    @include breakpoint-down(lg) {
      padding-bottom: (1.5 * $gutter);
    }

    @include breakpoint-down(xs) {
      padding-bottom: $gutter;
    }
  }

  .video-section {
    padding-bottom: 0;

    @include breakpoint-down(lg) {
      padding-bottom: (1.5 * $gutter);
    }

    @include breakpoint-down(xs) {
      padding-bottom: $gutter;
    }
  }
}

.market {
  &-section {
    position: relative;
  }

  &-item {
    width: calc(25% - 30px);

    @include breakpoint-down(lg) {
      width: 50%;
      text-align: center;
      margin-bottom: (1.5 * $gutter);
    }
  }

  &-descriptor {
    font-size: 16px;
    text-transform: uppercase;
    color: color(darkblue-complement);
    margin-bottom: 12.5px;
  }

  &-numbers {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-text {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: color(darkblue-complement);
  }
}

.mining {
  &-section {
    background-color: color(gray-subtle-bg);

    .tool-listing {
      margin-top: $gutter;
    }

    .tool-listing-item {
      &:not(:last-child) {
        border-right: 1px solid color(gray-delineate);
      }

      @include breakpoint-down(md) {
        &.tool-listing-item.tool-listing-item {
          border-left: none;
          border-right: none;
          border-top: 1px solid color(gray-delineate);
          border-bottom: 1px solid color(gray-delineate);
        }
      }
    }
  }
}

.trading {
  &-section {
    .tool-listing-item {
      padding: 20px;
      border: 1px solid rgba(color(gray-delineate), 0.5);
    }
  }
}

.tool {
  &-listing {
    align-items: center;

    &-item {
      text-align: center;

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100px;

        &:hover {
          img {
            opacity: 0.8;
          }
        }
      }

      img {
        opacity: 0.4;
        @include transition(0.2s opacity ease);
        max-width: 100%;
      }
    }
  }
}
