.page-home {
  .hero-section {
    @include breakpoint-down(lg) {
      padding-bottom: (2* $gutter);
    }

    .container {
      min-height: 550px;

      @include breakpoint-down(xl) {
        min-height: 475px;
      }
    }

    .article-preview-section {
      padding-bottom: 0;
    }

    .section-title {
      font-size: 60px;

      @include breakpoint-down(xl) {
        font-size: 50px;
      }

      @include breakpoint-down(lg) {
        font-size: 45px;
      }

      @include breakpoint-down(sm) {
        font-size: 40px;
      }
    }
  }

  .hero-map {
    max-width: 845px;

    @include breakpoint-down(xl) {
      max-width: 720px;
    }
  }
}

.hero-map-dot {
  position: absolute;
  display: inline-block;
  background-color: color(blue-accent);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  @include transform(translate(0, -50%));

  &:after {
    content: '';
    @extend %abs-center;
    width: 0;
    height: 0;
    opacity: 0;
    border: 10px solid rgba( lighten(color(blue-accent), 10%), .8 );
    background-color: transparent;
    border-radius: 50%;
    @include transform(translate(-50%, -50%) translate3d(0, 0, 0));
    @include transition(1s border ease, 1s width ease, 1s height ease);
  }

  &.ripple:after {
    opacity: 1;
    border: 2.5px solid rgba( lighten(color(blue-accent), 20%), 0 );
    width: 50px;
    height: 50px;
  }
}

.moving-tooltip {
  position: absolute;
  z-index: zindex(raise);
  display: block;
  background-color: rgba(color(blue-accent), 0.95);
  padding: 20px 30px;
  line-height: 1.5;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  box-shadow: $tooltip-map-shadow;
  opacity: 0;
  @include transform(translate(5px, calc(-100% - 25px)) translate3d(0, 0, 0));
  @include transition(0.4s opacity ease);

  &.visible {
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: calc(100% - 1px);
    left: 0;
    display: block;
    z-index: -1;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: rgba(color(blue-accent), 0.95) transparent transparent transparent;
  }
}

.feature {

  &-list {
    position: relative;
    margin: 0 -60px;

    @include breakpoint-down(xxl) {
      margin: 0 -30px;
    }

    @include breakpoint-down(md) {
      text-align: center;
      margin: 0 -15px;
    }
  }

  &-item {
    position: relative;
    padding: 0 60px;

    @include breakpoint-down(xxl) {
      padding: 0 30px;
    }

    @include breakpoint-down(md) {
      padding: 0 15px;
    }

    @include breakpoint-down(sm) {

      &:not(:last-child) {
        margin-bottom: #{0.5 * $desktop-spacing}
      }
    }

    h3 {
      margin-bottom: 15px;
    }
  }
}


.value-prop {

  &-section {
    background-color: color(gray-subtle-bg);

    @include breakpoint-down(lg) {
      text-align: center;
    }

    .subtitle {
      font-size: 28px;
      max-width: 600px;

      @include breakpoint-down(xl) {
        font-size: 24px;
      }

      @include breakpoint-down(lg) {
        margin: 0 auto;
      }

      @include breakpoint-down(xs) {
        font-size: 20px;
      }
    }
  }

  &-list {
    margin-top: (3 * $gutter);

    @include breakpoint-down(xl) {
      margin-top: (2.5 * $gutter);
    }

    @include breakpoint-down(lg) {
      margin-top: (2 * $gutter);
    }

    @include breakpoint-down(sm) {
      margin-top: #{0.5 * $desktop-spacing};
    }
  }

  &-item {
    align-items: center;

    &:not(:last-child) {
      margin-bottom: (2 * $gutter);
    }

    .img-wrap {
      max-width: 600px;
      margin: 0 auto;

      @include breakpoint-down(lg) {
        max-width: 500px;
        margin-bottom: 45px;
      }

      @include breakpoint-down(sm) {
        margin-bottom: 15px;
      }

      img {
        width: 100%;
      }
    }

    &:nth-child(2n) {

      .col-6:first-child {
        order: 2;

        @include breakpoint-down(lg) {
          order: 0;
        }
      }
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        .value-prop-info:before {
          content: '0#{$i}';
        }
      }
    }
  }

  &-info {
    position: relative;
    max-width: 400px;
    margin: 0 auto;

    @include breakpoint-down(lg) {
      text-align: center;
      max-width: 500px;
    }

    &:before {
      @include transform(translate(calc(-100% - #{0.5 * $gutter}), -#{0.5 * $gutter}) );

      @include breakpoint-down(xl) {
        @include transform(none);
      }
    }

    &:after {
      width: 80px;
      top: 0;
      @include transform-origin(125% 0);
      @include transform(translate(calc(-100% - #{0.5 * $gutter}), -#{0.5 * $gutter}) rotate(-45deg));
      background-color: color(gray-subtle-bg);

      @include breakpoint-down(xl) {
        @include transform-origin(120% -50%);
        @include transform(translate(0, 0) rotate(-45deg));
      }

      @include breakpoint-down(lg) {
        display: none;
      }
    }

    h3 {
      margin-bottom: 20px;

      @include breakpoint-down(xl) {
        font-size: 30px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 200;
      margin-bottom: 40px;

      @include breakpoint-down(xl) {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
}
