.onboarding {
  &-section {
    @include breakpoint-down(lg) {
      display: none;
    }

    .wrap-intersect {
      position: relative;
      text-align: center;
      z-index: zindex(elevate);
      @include transform(translate(0, -25%));
    }
  }
  &-holder {
    position: relative;
    z-index: zindex(raise);
    border: 1px solid color(gray-delineate);

    img {
      display: block;
      width: 100%;
    }
  }

  &-tooltip {
    position: absolute;
    z-index: zindex(elevate);
    padding: (1.5 * $gutter);
    background: rgba(255, 255, 255, 0.95);
    @include transform(translate(5px, calc(-100% - 30px)));
    max-width: 275px;
    box-shadow: $tooltip-onboard-shadow;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: calc(100% - 1px);
      left: 0;
      display: block;
      z-index: -1;
      border-style: solid;
      border-width: 15px 15px 0 0;
      border-color: rgba(255, 255, 255, 0.95) transparent transparent transparent;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      font-weight: 200;
      line-height: 1.25;
      margin-bottom: 15px;
    }

    .btn-cta {
      font-size: 12px;
      padding: 10px;
    }
  }

  &-pulse {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: color(blue-accent);
    box-shadow: 0 0 1px 0 color(blue-accent);
    @include animation(ripple 2.5s infinite ease-out);

    &.active {
      background-color: color(pink-ripple);
      box-shadow: 0 0 1px 0 color(pink-ripple);
      @include animation(ripple-clicked 2.5s infinite ease-out);

      &:after {
        border: 1px solid rgba(color(pink-ripple), 0.35);
        box-shadow: 0 0 1px 0 rgba(color(pink-ripple), 0.2);
        @include animation(shimmer-clicked 2.5s infinite ease-out);
      }
    }

    &:after {
      content: '';
      display: inline-block;
      border-radius: 50%;
      @extend %abs-center;
      width: 10px;
      height: 10px;
      border: 1px solid rgba(color(blue-accent), 0.35);
      box-shadow: 0 0 1px 0 rgba(color(blue-accent), 0.2);
      @include animation(shimmer 2.5s infinite ease-out);
    }
  }
}

.btn-close {
  display: inline-block;
  position: absolute;
  top: (0.5 * $gutter);
  right: (0.5 * $gutter);
  font-size: 24px;
  font-family: monospace;
  color: rgba(color(blue-accent), 0.33);
  cusor: pointer;
}

@include keyframes(ripple) {
  0% { box-shadow: 0 0 1px 0 rgba(color(blue-accent), 0.3) }
  90% { box-shadow: 0 0 4px 30px rgba(color(blue-accent), 0) }
  100% { box-shadow: 0 0 1px 0 rgba(color(blue-accent), 0) }
}

@include keyframes(ripple-clicked) {
  0% { box-shadow: 0 0 1px 0 rgba(color(pink-ripple), 0.3) }
  90% { box-shadow: 0 0 4px 30px rgba(color(pink-ripple), 0) }
  100% { box-shadow: 0 0 1px 0 rgba(color(pink-ripple), 0) }
}

@include keyframes(shimmer) {
  0% { box-shadow: 0 0 1px 0 rgba(color(blue-accent), 0.3) }
  50% { box-shadow: 0 0 1px 10px rgba(color(blue-accent), 0.15) }
  100% { box-shadow: 0 0 1px 10px rgba(color(blue-accent), 0) }
}

@include keyframes(shimmer-clicked) {
  0% { box-shadow: 0 0 1px 0 rgba(color(pink-ripple), 0.3) }
  50% { box-shadow: 0 0 1px 10px rgba(color(pink-ripple), 0.15) }
  100% { box-shadow: 0 0 1px 10px rgba(color(pink-ripple), 0) }
}

.guide {
  &-section {
    padding-bottom: 0;
  }

  &-info {
    @include breakpoint-down(md) {
      text-align: center;
      margin-bottom: (1.5 * $gutter);
    }

    p {
      max-width: 450px;
      margin-bottom: 30px;
      color: #000;

      @include breakpoint-down(md) {
        max-width: none;
      }
    }
  }

  &-item {
    margin-bottom: (2 * $gutter);
  }
}
