.roadmap {
  &-section {

    padding-top: $gutter;

    .container {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 150px;
        height: 0;
        border-top: 1px dashed color(gray-accent);
        left: 50%;
        @include transform(translate(-50%, 0));

        @include breakpoint-down(md) {
          width: 120px;
        }
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }

  &-list {
    position: relative;
    padding-top: (3 * $gutter);
    padding-bottom: $gutter;

    @include breakpoint-down(md) {
      padding-top: (1.5 * $gutter);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      @include transform(translate(-50%, 0));
      height: 100%;
      border-right: 1px dashed color(gray-accent);
    }
  }

  &-list-item {
    &:not(:last-child) {
      margin-bottom: (1.5 * $gutter);

      @include breakpoint-down(md) {
        margin-bottom: (3 * $gutter);
      }
    }

    @include breakpoint-down(md) {
      &.roadmap-list-item.roadmap-list-item {
        position: relative;
        z-index: zindex(raise);
        text-align: center;
        background-color: #fff;
        padding: $gutter 0;
      }
    }

    &:nth-child(2n) {
      text-align: right;

      .half {
        @include breakpoint-down(xl) {
          text-align: right;
        }
      }

      .half:before {
        left: 0;
      }

      .half:after {
        @include transform(translate(-50%, -50%));
        left: 0;
      }
      
      .roadmap-wrap {
        text-align: left;
        justify-content: flex-end;
      }

      .roadmap-details {
        order: -1;
        text-align: right;
        margin-right: (1.5 * $gutter);

        @include breakpoint-down(lg) {
          margin-right: (0.75 * $gutter);
        }

        @include breakpoint-down(md) {
          margin-right: (1.5 * $gutter);
        }

        @include breakpoint-down(xs) {
          margin-right: (0.75 * $gutter);
        }
      }
    }

    &:nth-child(2n+1) {
      text-align: left;

      .half {
        @include breakpoint-down(xl) {
          text-align: left;
        }
      }

      .half:before {
        right: 0;
      }

      .half:after {
        @include transform(translate(50%, -50%));
        right: 0;
      }

      .roadmap-wrap {
        text-align: right;
        justify-content: flex-start;
      }

      .roadmap-details {
        text-align: left;
        margin-left: (1.5 * $gutter);

        @include breakpoint-down(lg) {
          margin-left: (0.75 * $gutter);
        }

        @include breakpoint-down(md) {
          margin-left: (1.5 * $gutter);
        }

        @include breakpoint-down(xs) {
          margin-left: (0.75 * $gutter);
        }
      }
    }

    h4 {
      font-weight: 600;
      margin-bottom: 0.75em;
    }

    p {
      font-weight: 200;
      line-height: 1.25;
    }

    .numbered-item:before {
      position: static;
      top: auto;
      left: auto;
      @include transform(none);
      margin-bottom: 15px;
    }
  }

  &-wrap {
    display: inline-flex;
    width: 450px;

    @include breakpoint-down(xl) {
      width: 350px;
    }

    @include breakpoint-down(lg) {
      width: 330px;
    }

    @include breakpoint-down(md) {
      &.roadmap-wrap.roadmap-wrap {
        width: 100%;
        justify-content: space-between;
        text-align: center;
        align-items: center;
      }
    }
  }

  &-info {
    width: calc(100% - 150px);

    @include breakpoint-down(md) {
      width: auto;
    }
  }

  &-details {
    width: 105px;

    @include breakpoint-down(md) {
      &.roadmap-details.roadmap-details {
        text-align: center;
      }
    }
  }
}

.half {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;

  @include breakpoint-down(md) {
    &.half.half {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
      text-align: center;

      &:before {
        display: none;
      }

      &:after {
        right: auto;
        top: -$gutter;
        left: 50%;
        @include transform(translate(-50%, 50%));
      }
    }
  }

  &:before {
    content: '';
    width: 75px;
    position: absolute;
    top: 0;
    border-top: 1px dashed color(gray-accent);
  }

  &:after {
    content: '';
    width: 10px;
    height: 10px;
    top: 0;
    position: absolute;
    border-radius: 50%;
    background-color: color(blue-accent);
    z-index: zindex(raise);
  }
}
