.team {
  &-section {
    .img-wrap {
      margin-bottom: (2 * $gutter);
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    p.position {
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: color(darkblue-complement);
    }

    p:not(.position) {
      font-weight: 200;
      line-height: 1.25;
    }
  }

  &-member {
    margin-bottom: (2 * $gutter);

    @include breakpoint-down(sm) {
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: (1.5 * $gutter);
    }
  }
}