<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .no-scroll {
            overflow: hidden;
        }
        .hidden {
            display: none;
        }
        .splash {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000;
            background-color: #C7CFD9;
            pointer-events: none;
        }
        .splash img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="splash hidden">
    <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
</div>
<script>
    document.querySelector('body').classList.add('no-scroll');
    document.querySelector('.splash').classList.remove('hidden');
</script>
<div class="page-backdrop hidden"></div>
<header class="header">
    <nav class="side-nav">
        <ul class="side-nav-list">
            <li class="side-nav-item active">
                <a href="/"><span class="side-nav-vertical-text">Platform</span></a>
            </li>
            <li class="side-nav-item">
                <a href="/coin"><span class="side-nav-vertical-text">Coin</span></a>
            </li>
        </ul>
    </nav>
    <a href="/" class="header-logo">
        <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
    </a>
    <button class="mobile-menu"></button>
    <nav class="main-nav container">
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/">Overview</a></li>
            <li class="main-nav-item"><a href="/investor">Investor Dashboard</a></li>
            <li class="main-nav-item"><a href="/roadmap">Roadmap</a></li>
        </ul>
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/team">Team</a></li>
            <li class="main-nav-item"><a href="/press">Press</a></li>
            <li class="main-nav-item active"><a href="/blog">Blog</a></li>
            <li class="main-nav-item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main class="main page-article">
    <section class="article-section">
        <div class="container">
            <article class="article-wrap">
                <section class="article-header">
                    <div class="img-wrap"><img src="https://via.placeholder.com/750x400" alt=""></div>
                    <h2>Article something something title</h2>
                    <div class="article-metainfo">
                        <p class="article-release-indicator">Press Release</p>
                        <div>
                            <h4 class="article-writer">Gregorian Grigoranki McGregor</h4>
                            <date>Nov 15, 2018</date>
                        </div>
                    </div>
                    <p class="subtitle">Article Subtitle something something</p>
                </section>
                <section class="article-body">
                    <h1>Punny article starting title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis cumque deleniti eos, facilis inventore iusto laborum magnam molestias
                        qui quibusdam repellat reprehenderit tenetur! Accusantium ad, animi assumenda beatae blanditiis commodi corporis deleniti dolorum, eum ex
                        facilis illo ipsa iure neque officia perspiciatis quaerat quisquam quos repellendus repudiandae sapiente sequi soluta, totam unde voluptates!
                        Cum earum id labore pariatur, reiciendis sit? Doloremque eaque <a href="">culpa cum ex</a>id quam quasi qui sit! Animi consequuntur dolorem ea
                        itaque labore obcaecati?
                        ut.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam at delectus doloremque dolorum harum in inventore, magnam molestiae non
                        odit optio rem reprehenderit sint vitae voluptate voluptatem voluptatum. Exercitationem incidunt necessitatibus tempore!</p>
                    <h2>Punny article separation title</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit1</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit2</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit3</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit4</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolorum ducimus ea inventore nesciunt non officiis placeat quo repellat, voluptatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto, consectetur delectus deleniti deserunt dicta distinctio dolorem
                        dolores doloribus dolorum, ea eaque est excepturi expedita hic illo iste laborum maiores nemo neque nisi pariatur, porro provident quidem
                        repellat repellendus repudiandae rerum sint unde vero!</p>
                    <img src="https://via.placeholder.com/450x300" alt="">
                    <br>
                    <br>
                    <iframe width="750" height="337.5" src="https://www.youtube.com/embed/dJFcvfOiJIM?rel=0&controls=0&showinfo=0" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </section>
            </article>
        </div>
    </section>
    <section class="article-preview-section">
        <div class="container">
            <ul class="row">
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum.</p>
                        </article>
                    </a>
                </li>
            </ul>
            <div class="btn-wrap wrap-intersect">
                <button class="btn btn-cta">See all blog posts</button>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <nav class="footer-nav container">
        <div class="footer-logo-wrap">
            <a href="/" class="footer-logo">
                <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
            </a>
        </div>
        <ul class="footer-links footer-links-platform">
            <li class="footer-link descriptor">Gin Platform</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/investor">Investor Dashboard</a></li>
            <li class="footer-link"><a href="/roadmap">Roadmap</a></li>
            <li class="footer-link"><a href="/team">Team</a></li>
            <li class="footer-link"><a href="/press">Press</a></li>
            <li class="footer-link"><a href="/blog">Blog</a></li>
            <li class="footer-link"><a href="/contact">Contact</a></li>
        </ul>
        <ul class="footer-links footer-links-coin">
            <li class="footer-link descriptor">Gin Coin</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/specs">Technical Specifications</a></li>
            <li class="footer-link"><a href="/distribution">Distribution</a></li>
            <li class="footer-link"><a href="/explorer">Explorer</a></li>
        </ul>
        <ul class="footer-links footer-links-social">
            <li class="footer-link-social"><a href="" class="icon icon-discord"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-telegram"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-twitter"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-reddit"></a></li>
        </ul>
        <ul class="footer-links footer-links-legal">
            <li class="footer-link"><a href="/terms">Terms of Service</a></li>
            <li class="footer-link"><a href="/privacy">Privacy Policy</a></li>
            <li class="footer-link"><a href="/legal">Legal Info</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
