<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .no-scroll {
            overflow: hidden;
        }
        .hidden {
            display: none;
        }
        .splash {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000;
            background-color: #C7CFD9;
            pointer-events: none;
        }
        .splash img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="splash hidden">
    <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
</div>
<script>
    document.querySelector('body').classList.add('no-scroll');
    document.querySelector('.splash').classList.remove('hidden');
</script>
<div class="page-backdrop hidden"></div>
<header class="header">
    <nav class="side-nav">
        <ul class="side-nav-list">
            <li class="side-nav-item active">
                <a href="/coin"><span class="side-nav-vertical-text">Coin</span></a>
            </li>
            <li class="side-nav-item">
                <a href="/"><span class="side-nav-vertical-text">Platform</span></a>
            </li>
        </ul>
    </nav>
    <a href="/" class="header-logo">
        <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
    </a>
    <button class="mobile-menu"></button>
    <nav class="main-nav container">
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/">Overview</a></li>
            <li class="main-nav-item"><a href="/investor">Investor Dashboard</a></li>
            <li class="main-nav-item"><a href="/roadmap">Roadmap</a></li>
        </ul>
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/team">Team</a></li>
            <li class="main-nav-item"><a href="/press">Press</a></li>
            <li class="main-nav-item"><a href="/blog">Blog</a></li>
            <li class="main-nav-item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main class="main page-coin">
    <section class="hero-section">
        <div class="container">
            <div class="hero-info">
                <h1 class="section-title"><span class="mask-text">The masternode coin to bring masternode investing to the masses</span></h1>
                <p class="subtitle"><span class="mask-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, fugit illo nisi officia provident qui!</span></p>
                <div class="btn-wrap">
                    <button class="btn btn-cta">Go to coin explorer</button>
                </div>
            </div>
            <div class="hero-map">
                <object type="image/svg+xml" data="<%= require('./assets/dot-map.svg') %>"></object>
            </div>
            <ul class="hero-summary-5">
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">Lyraz</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">algorithm</span></p>
                </li>
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">2 min</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">block time</span></p>
                </li>
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">20</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">block reward</span></p>
                </li>
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">1000</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">mn collateral</span></p>
                </li>
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">10.5 M</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">total supply</span></p>
                </li>
            </ul>
        </div>
    </section>
    <section class="market-section">
        <div class="container">
            <ul class="market-list spread">
                <li class="market-item">
                    <p class="market-descriptor">token value</p>
                    <p class="market-numbers">$ 2100005</p>
                    <p class="market-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur est, quaerat.</p>
                </li>
                <li class="market-item">
                    <p class="market-descriptor">market cap</p>
                    <p class="market-numbers">$ 3067005</p>
                    <p class="market-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur est, quaerat.</p>
                </li>
                <li class="market-item">
                    <p class="market-descriptor">24 hour volume</p>
                    <p class="market-numbers">$ 406005</p>
                    <p class="market-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur est, quaerat.</p>
                </li>
                <li class="market-item">
                    <p class="market-descriptor">circulating supply</p>
                    <p class="market-numbers">$ 12067005</p>
                    <p class="market-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur est, quaerat.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="trading-section">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-12">
                    <h3 class="section-title">Trade GIN on the following exchanges:</h3>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda eligendi est iste necessitatibus officiis perspiciatis
                        possimus, provident saepe totam unde.</p>
                </div>
                <div class="col-6 col-md-12">
                    <ul class="tool-listing row">
                        <li class="tool-listing-item col-3"><a href=""><img src="<%= require('./images/trade1.png') %>" alt=""></a></li>
                        <li class="tool-listing-item col-3"><a href=""><img src="<%= require('./images/trade2.png') %>" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="mining-section">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-12">
                    <h3 class="section-title">Mine GIN on the following pools:</h3>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda eligendi est iste necessitatibus officiis perspiciatis
                        possimus.</p>
                </div>
                <div class="col-12">
                    <ul class="tool-listing row">
                        <li class="tool-listing-item col-2 col-md-4"><a href=""><img src="<%= require('./images/mine1.png') %>" alt=""></a></li>
                        <li class="tool-listing-item col-2 col-md-4"><a href=""><img src="<%= require('./images/mine2.png') %>" alt=""></a></li>
                        <li class="tool-listing-item col-2 col-md-4"><a href=""><img src="<%= require('./images/mine3.png') %>" alt=""></a></li>
                        <li class="tool-listing-item col-2 col-md-4"><a href=""><img src="<%= require('./images/mine4.png') %>" alt=""></a></li>
                        <li class="tool-listing-item col-2 col-md-4"><a href=""><img src="<%= require('./images/mine5.png') %>" alt=""></a></li>
                        <li class="tool-listing-item col-2 col-md-4"><a href=""><img src="<%= require('./images/mine6.png') %>" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="video-section">
        <div class="video-wrapper">
            <div id="video-textbox" class="video-textbox container">
                <h2 class="section-title">Guided Masternode Setup</h2>
                <p class="subtitle">No technical skills required</p>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid assumenda beatae commodi consequatur, cupiditate
                    dignissimos dolorem ducimus eius enim esse ex exercitationem explicabo fuga impedit magnam magni minima molestiae mollitia nemo nihil odio odit
                    provident..</p>
            </div>
            <div id="video-background" class="video-background">
                <img id="video-thumbnail" class="video-thumbnail" src="" alt="video-thumbnail">
                <div class="video-overlay"></div>
                <button id="video-play-btn" class="icon-play"></button>
            </div>
            <div id="player" class="video-player"></div>
        </div>
    </section>
</main>
<footer class="footer">
    <nav class="footer-nav container">
        <div class="footer-logo-wrap">
            <a href="/" class="footer-logo">
                <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
            </a>
        </div>
        <ul class="footer-links footer-links-platform">
            <li class="footer-link descriptor">Gin Platform</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/investor">Investor Dashboard</a></li>
            <li class="footer-link"><a href="/roadmap">Roadmap</a></li>
            <li class="footer-link"><a href="/team">Team</a></li>
            <li class="footer-link"><a href="/press">Press</a></li>
            <li class="footer-link"><a href="/blog">Blog</a></li>
            <li class="footer-link"><a href="/contact">Contact</a></li>
        </ul>
        <ul class="footer-links footer-links-coin">
            <li class="footer-link descriptor">Gin Coin</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/specs">Technical Specifications</a></li>
            <li class="footer-link"><a href="/distribution">Distribution</a></li>
            <li class="footer-link"><a href="/explorer">Explorer</a></li>
        </ul>
        <ul class="footer-links footer-links-social">
            <li class="footer-link-social"><a href="" class="icon icon-discord"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-telegram"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-twitter"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-reddit"></a></li>
        </ul>
        <ul class="footer-links footer-links-legal">
            <li class="footer-link"><a href="/terms">Terms of Service</a></li>
            <li class="footer-link"><a href="/privacy">Privacy Policy</a></li>
            <li class="footer-link"><a href="/legal">Legal Info</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
