<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .no-scroll {
            overflow: hidden;
        }
        .hidden {
            display: none;
        }
        .splash {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000;
            background-color: #C7CFD9;
            pointer-events: none;
        }
        .splash img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="splash hidden">
    <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
</div>
<script>
    document.querySelector('body').classList.add('no-scroll');
    document.querySelector('.splash').classList.remove('hidden');
</script>
<div class="page-backdrop hidden"></div>
<header class="header">
    <nav class="side-nav">
        <ul class="side-nav-list">
            <li class="side-nav-item active">
                <a href="/"><span class="side-nav-vertical-text">Platform</span></a>
            </li>
            <li class="side-nav-item">
                <a href="/coin"><span class="side-nav-vertical-text">Coin</span></a>
            </li>
        </ul>
    </nav>
    <a href="/" class="header-logo">
        <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
    </a>
    <button class="mobile-menu"></button>
    <nav class="main-nav container">
        <ul class="main-nav-list">
            <li class="main-nav-item active"><a href="/">Overview</a></li>
            <li class="main-nav-item"><a href="/investor">Investor Dashboard</a></li>
            <li class="main-nav-item"><a href="/roadmap">Roadmap</a></li>
        </ul>
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/team">Team</a></li>
            <li class="main-nav-item"><a href="/press">Press</a></li>
            <li class="main-nav-item"><a href="/blog">Blog</a></li>
            <li class="main-nav-item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main class="main page-home">
    <section class="hero-section">
        <div class="container">
            <div class="hero-info">
                <h1 class="section-title"><span class="mask-text">Masternode setup & Investment Platform</span></h1>
                <p class="subtitle"><span class="mask-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, fugit illo nisi officia provident qui!</span></p>
                <div class="btn-wrap">
                    <button class="btn btn-cta">Manage your masternodes</button>
                </div>
            </div>
            <div class="hero-map">
                <div class="moving-tooltip"></div>
                <object type="image/svg+xml" data="<%= require('./assets/dot-map.svg') %>"></object>
            </div>
            <ul class="hero-summary-3">
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">4721</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">masternodes</span></p>
                </li>
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">usd 9.7m</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">portfolio value</span></p>
                </li>
                <li class="hero-summary-item">
                    <p class="hero-summary-numbers"><span class="mask-text">137</span></p>
                    <p class="hero-summary-descriptor"><span class="mask-text">available coins</span></p>
                </li>
            </ul>
        </div>
    </section>
    <section class="feature-section">
        <div class="container">
            <ul class="feature-list row">
                <li class="feature-item numbered numbered-item col-3 col-xl-4 col-md-12">
                    <h4>Generate Passive Income</h4>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ex exercitationem facilis iure omnis sapiente tempore
                        veritatis.</p>
                </li>
                <li class="feature-item numbered numbered-item col-3 col-xl-4 col-md-12">
                    <h4>Robust Roi Dashboard</h4>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur commodi consectetur consequatur dignissimos distinctio dolor eaque
                        fugiat, harum in incidunt.</p>
                </li>
                <li class="feature-item numbered numbered-item col-3 col-xl-4 col-md-12">
                    <h4>Set and forget setup</h4>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, doloremque ducimus impedit labore mollitia officiis optio
                        qui, quibusdam.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="value-prop-section">
        <div class="container">
            <h2 class="section-title">Keep tabs on all your masternodes</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quia, quod. Esse exercitationem labore quas!</p>
            <ul class="value-prop-list">
                <li class="value-prop-item numbered row">
                    <div class="col-6 col-lg-12">
                        <div class="img-wrap">
                            <img src="<%= require('./assets/value-prop1.png') %>" alt="Gin Value Proposition">
                        </div>
                    </div>
                    <div class="col-6 col-lg-12">
                        <div class="value-prop-info numbered-item">
                            <h3>Total Portfolio Value</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eveniet magnam maxime minima pariatur perferendis
                                possimus rerum
                                sit.
                                Assumenda ipsa laborum maiores officia omnis quaerat.</p>
                            <div class="btn-wrap">
                                <button class="btn btn-cta">Create Account</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="value-prop-item numbered row">
                    <div class="col-6 col-lg-12">
                        <div class="img-wrap">
                            <img src="<%= require('./assets/value-prop2.png') %>" alt="Gin Value Proposition">
                        </div>
                    </div>
                    <div class="col-6 col-lg-12">
                        <div class="value-prop-info numbered-item">
                            <h3>Total Exits Worth</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eveniet magnam maxime minima pariatur perferendis possimus rerum sit.
                                Assumenda.</p>
                            <div class="btn-wrap">
                                <button class="btn btn-cta">Create Account</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="value-prop-item numbered row">
                    <div class="col-6 col-lg-12">
                        <div class="img-wrap">
                            <img src="<%= require('./assets/value-prop3.png') %>" alt="Gin Value Proposition">
                        </div>
                    </div>
                    <div class="col-6 col-lg-12">
                        <div class="value-prop-info numbered-item">
                            <h3>Meaningful statistics</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi corporis cum dolores illo minus nemo non ratione sint unde. Ad,
                                aliquam aspernatur blanditiis deleniti doloremque impedit incidunt ipsa mollitia nam, possimus, quasi..</p>
                            <div class="btn-wrap">
                                <button class="btn btn-cta">Create Account</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="video-section">
        <div class="video-wrapper">
            <div id="video-textbox" class="video-textbox container">
                <h2 class="section-title">Guided Masternode Setup</h2>
                <p class="subtitle">No technical skills required</p>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid assumenda beatae commodi consequatur, cupiditate
                    dignissimos dolorem ducimus eius enim esse ex exercitationem explicabo fuga impedit magnam magni minima molestiae mollitia nemo nihil odio odit
                    provident..</p>
            </div>
            <div id="video-background" class="video-background">
                <img id="video-thumbnail" class="video-thumbnail" src="" alt="video-thumbnail">
                <div class="video-overlay"></div>
                <button id="video-play-btn" class="icon-play"></button>
            </div>
            <div id="player" class="video-player"></div>
        </div>
    </section>
    <section class="article-preview-section">
        <div class="container">
            <ul class="row">
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-fluid col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum.</p>
                        </article>
                    </a>
                </li>
            </ul>
            <div class="btn-wrap wrap-intersect">
                <button class="btn btn-cta">See all blog posts</button>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <nav class="footer-nav container">
        <div class="footer-logo-wrap">
            <a href="/" class="footer-logo">
                <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
            </a>
        </div>
        <ul class="footer-links footer-links-platform">
            <li class="footer-link descriptor">Gin Platform</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/investor">Investor Dashboard</a></li>
            <li class="footer-link"><a href="/roadmap">Roadmap</a></li>
            <li class="footer-link"><a href="/team">Team</a></li>
            <li class="footer-link"><a href="/press">Press</a></li>
            <li class="footer-link"><a href="/blog">Blog</a></li>
            <li class="footer-link"><a href="/contact">Contact</a></li>
        </ul>
        <ul class="footer-links footer-links-coin">
            <li class="footer-link descriptor">Gin Coin</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/specs">Technical Specifications</a></li>
            <li class="footer-link"><a href="/distribution">Distribution</a></li>
            <li class="footer-link"><a href="/explorer">Explorer</a></li>
        </ul>
        <ul class="footer-links footer-links-social">
            <li class="footer-link-social"><a href="" class="icon icon-discord"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-telegram"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-twitter"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-reddit"></a></li>
        </ul>
        <ul class="footer-links footer-links-legal">
            <li class="footer-link"><a href="/terms">Terms of Service</a></li>
            <li class="footer-link"><a href="/privacy">Privacy Policy</a></li>
            <li class="footer-link"><a href="/legal">Legal Info</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
