<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .no-scroll {
            overflow: hidden;
        }
        .hidden {
            display: none;
        }
        .splash {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000;
            background-color: #C7CFD9;
            pointer-events: none;
        }
        .splash img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="splash hidden">
    <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
</div>
<script>
    document.querySelector('body').classList.add('no-scroll');
    document.querySelector('.splash').classList.remove('hidden');
</script>
<div class="page-backdrop hidden"></div>
<header class="header">
    <nav class="side-nav">
        <ul class="side-nav-list">
            <li class="side-nav-item active">
                <a href="/"><span class="side-nav-vertical-text">Platform</span></a>
            </li>
            <li class="side-nav-item">
                <a href="/coin"><span class="side-nav-vertical-text">Coin</span></a>
            </li>
        </ul>
    </nav>
    <a href="/" class="header-logo">
        <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
    </a>
    <button class="mobile-menu"></button>
    <nav class="main-nav container">
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/">Overview</a></li>
            <li class="main-nav-item"><a href="/investor">Investor Dashboard</a></li>
            <li class="main-nav-item"><a href="/roadmap">Roadmap</a></li>
        </ul>
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/team">Team</a></li>
            <li class="main-nav-item active"><a href="/press">Press</a></li>
            <li class="main-nav-item"><a href="/blog">Blog</a></li>
            <li class="main-nav-item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main class="main page-press">
    <section class="hero-section">
        <div class="container">
            <div class="hero-info">
                <h1 class="section-title"><span class="mask-text">Articles about GIN & Press Releases</span></h1>
                <p class="subtitle"><span class="mask-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, fugit illo nisi officia provident qui!</span></p>
            </div>
            <div class="hero-map">
                <object type="image/svg+xml" data="<%= require('./assets/dot-map.svg') %>"></object>
            </div>
        </div>
    </section>
    <section class="article-preview-section">
        <div class="container">
            <ul class="row">
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-appearance-indicator">Press Appearance</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eveniet ipsum nobis odio porro, voluptatum.</p>
                        </article>
                    </a>
                </li>
                <li class="article-preview-item col-3 col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="article-preview-wrap">
                        <article>
                            <p class="article-release-indicator">Press Release</p>
                            <h4>Lorem Title</h4>
                            <date>November 21, 2018</date>
                            <p class="subtitle article-preview-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum.</p>
                        </article>
                    </a>
                </li>
            </ul>
            <ul class="pagination">
                <li class="pagination-item"><a href=""><</a></li>
                <li class="pagination-item"><a href="">1</a></li>
                <li class="pagination-item"><a href="">2</a></li>
                <li class="pagination-item"><a href="">3</a></li>
                <li class="pagination-item"><a href="">4</a></li>
                <li class="pagination-item"><a href="">></a></li>
            </ul>
        </div>
    </section>
</main>
<footer class="footer">
    <nav class="footer-nav container">
        <div class="footer-logo-wrap">
            <a href="/" class="footer-logo">
                <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
            </a>
        </div>
        <ul class="footer-links footer-links-platform">
            <li class="footer-link descriptor">Gin Platform</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/investor">Investor Dashboard</a></li>
            <li class="footer-link"><a href="/roadmap">Roadmap</a></li>
            <li class="footer-link"><a href="/team">Team</a></li>
            <li class="footer-link"><a href="/press">Press</a></li>
            <li class="footer-link"><a href="/blog">Blog</a></li>
            <li class="footer-link"><a href="/contact">Contact</a></li>
        </ul>
        <ul class="footer-links footer-links-coin">
            <li class="footer-link descriptor">Gin Coin</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/specs">Technical Specifications</a></li>
            <li class="footer-link"><a href="/distribution">Distribution</a></li>
            <li class="footer-link"><a href="/explorer">Explorer</a></li>
        </ul>
        <ul class="footer-links footer-links-social">
            <li class="footer-link-social"><a href="" class="icon icon-discord"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-telegram"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-twitter"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-reddit"></a></li>
        </ul>
        <ul class="footer-links footer-links-legal">
            <li class="footer-link"><a href="/terms">Terms of Service</a></li>
            <li class="footer-link"><a href="/privacy">Privacy Policy</a></li>
            <li class="footer-link"><a href="/legal">Legal Info</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
