<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .no-scroll {
            overflow: hidden;
        }
        .hidden {
            display: none;
        }
        .splash {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000;
            background-color: #C7CFD9;
            pointer-events: none;
        }
        .splash img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="splash hidden">
    <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
</div>
<script>
    document.querySelector('body').classList.add('no-scroll');
    document.querySelector('.splash').classList.remove('hidden');
</script>
<div class="page-backdrop hidden"></div>
<header class="header">
    <nav class="side-nav">
        <ul class="side-nav-list">
            <li class="side-nav-item active">
                <a href="/"><span class="side-nav-vertical-text">Platform</span></a>
            </li>
            <li class="side-nav-item">
                <a href="/coin"><span class="side-nav-vertical-text">Coin</span></a>
            </li>
        </ul>
    </nav>
    <a href="/" class="header-logo">
        <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
    </a>
    <button class="mobile-menu"></button>
    <nav class="main-nav container">
        <ul class="main-nav-list">
            <li class="main-nav-item"><a href="/">Overview</a></li>
            <li class="main-nav-item"><a href="/investor">Investor Dashboard</a></li>
            <li class="main-nav-item"><a href="/roadmap">Roadmap</a></li>
        </ul>
        <ul class="main-nav-list">
            <li class="main-nav-item active"><a href="/team">Team</a></li>
            <li class="main-nav-item"><a href="/press">Press</a></li>
            <li class="main-nav-item"><a href="/blog">Blog</a></li>
            <li class="main-nav-item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main class="main page-team">
    <section class="hero-section">
        <div class="container">
            <div class="hero-info">
                <h1 class="section-title"><span class="mask-text">The team behind the GIN platform</span></h1>
                <p class="subtitle"><span class="mask-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, fugit illo nisi officia provident qui!</span></p>
            </div>
            <div class="hero-map">
                <object type="image/svg+xml" data="<%= require('./assets/dot-map.svg') %>"></object>
            </div>
        </div>
    </section>
    <section class="team-section">
        <div class="container">
            <ul class="row">
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 1</h4>
                    <p class="position">Position 1</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 2</h4>
                    <p class="position">Position 2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 3</h4>
                    <p class="position">Position 3</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 4</h4>
                    <p class="position">Position 4</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 5</h4>
                    <p class="position">Position 5</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 6</h4>
                    <p class="position">Position 6</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 7</h4>
                    <p class="position">Position 7</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 8</h4>
                    <p class="position">Position 8</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 9</h4>
                    <p class="position">Position 9</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 10</h4>
                    <p class="position">Position 10</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 11</h4>
                    <p class="position">Position 11</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
                <li class="team-member col-3 col-xl-4 col-lg-6 col-sm-12">
                    <div class="img-wrap"><img src="https://via.placeholder.com/300x200" alt=""></div>
                    <h4>Team member 12</h4>
                    <p class="position">Position 12</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, dicta exercitationem
                        obcaecati provident repudiandae.</p>
                </li>
            </ul>
        </div>
    </section>
</main>
<footer class="footer">
    <nav class="footer-nav container">
        <div class="footer-logo-wrap">
            <a href="/" class="footer-logo">
                <img src="<%= require('./assets/logo-gin.png') %>" alt="Gin Logo">
            </a>
        </div>
        <ul class="footer-links footer-links-platform">
            <li class="footer-link descriptor">Gin Platform</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/investor">Investor Dashboard</a></li>
            <li class="footer-link"><a href="/roadmap">Roadmap</a></li>
            <li class="footer-link"><a href="/team">Team</a></li>
            <li class="footer-link"><a href="/press">Press</a></li>
            <li class="footer-link"><a href="/blog">Blog</a></li>
            <li class="footer-link"><a href="/contact">Contact</a></li>
        </ul>
        <ul class="footer-links footer-links-coin">
            <li class="footer-link descriptor">Gin Coin</li>
            <li class="footer-link"><a href="/">Overview</a></li>
            <li class="footer-link"><a href="/specs">Technical Specifications</a></li>
            <li class="footer-link"><a href="/distribution">Distribution</a></li>
            <li class="footer-link"><a href="/explorer">Explorer</a></li>
        </ul>
        <ul class="footer-links footer-links-social">
            <li class="footer-link-social"><a href="" class="icon icon-discord"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-telegram"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-twitter"></a></li>
            <li class="footer-link-social"><a href="" class="icon icon-reddit"></a></li>
        </ul>
        <ul class="footer-links footer-links-legal">
            <li class="footer-link"><a href="/terms">Terms of Service</a></li>
            <li class="footer-link"><a href="/privacy">Privacy Policy</a></li>
            <li class="footer-link"><a href="/legal">Legal Info</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
