html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  * {
    box-sizing: inherit;
  }
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  color: color(gray-primary-text);
  font-family: 'Titillium Web', 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  box-shadow: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;

  &:focus {
    outline: none;
  }
}

form:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
  color: #000;
}
