.page-backdrop {
  @extend %fullsize;
  z-index: zindex(backdrop);
  background-color: rgba(0, 0, 0, 0.85);
}

.subtitle {
  font-weight: 200;
  font-size: 20px;
}

.mask-text {
  line-height: 1.35;
  background-color: rgba(255, 255, 255, 0.75);
}

.section-title {
  max-width: 750px;
  margin-bottom: 30px;

  @include breakpoint-down(lg) {
    margin: 0 auto 40px auto;
  }
}

.main {
  padding-top: 100px;

  @include breakpoint-down(lg) {
    padding-top: #{0.75 * $desktop-spacing};
  }

  @include breakpoint-down(sm) {
    padding-top: #{0.625 * $desktop-spacing};
  }
}

.img-wrap {
  img {
    display: inline-block;
    width: 100%;
  }
}

%type-indicator {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

.article-release-indicator {
  @extend %type-indicator;
  background-color: color(press-release);
}

.article-appearance-indicator {
  @extend %type-indicator;
  background-color: color(press-appearance);
}

.done-indicator {
  @extend %type-indicator;
  background-color: color(done);
}

.in-progress-indicator {
  @extend %type-indicator;
  background-color: color(in-progress);
}

.numbered {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      &.numbered-item:before {
        content: '0#{$i}';
      }
    }

    &:nth-child(#{$i}) {
      .numbered-item:before {
        content: '0#{$i}';
      }
    }
  }
}

.numbered-item {
  position: relative;

  &:before {
    display: inline-block;
    margin-bottom: 20px;
    opacity: 0.2;
    font-size: 70px;
    line-height: 0.75;
    font-weight: 700;
    color: color(blue-accent);

    @include breakpoint-down(md) {
      font-size: 60px;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: zindex(raise);
    left: 0;
    top: 45px;
    width: 100%;
    height: 20px;
    background-color: #fff;

    @include breakpoint-down(md) {
      top: 35px;
    }

    @include breakpoint-down(sm) {
      display: none;
    }
  }
}

h1 {
  font-size: 52px;

  @include breakpoint-down(xl) {
    font-size: 48px;
  }

  @include breakpoint-down(lg) {
    font-size: 42px;
  }

  @include breakpoint-down(sm) {
    font-size: 36px;
  }
}

h2 {
  font-size: 48px;

  @include breakpoint-down(xl) {
    font-size: 44px;
  }

  @include breakpoint-down(lg) {
    font-size: 40px;
  }

  @include breakpoint-down(sm) {
    font-size: 36px;
  }
}

h3 {
  font-size: 34px;

  @include breakpoint-down(xl) {
    font-size: 32px;
  }

  @include breakpoint-down(lg) {
    font-size: 30px;
  }

  @include breakpoint-down(sm) {
    font-size: 28px;
  }
}

h4 {
  font-size: 26px;

  @include breakpoint-down(xl) {
    font-size: 24px;
  }

  @include breakpoint-down(lg) {
    font-size: 22px;
  }
}

p {
  line-height: 1.25;
}

date {
  display: block;
  color: color(darkblue-complement);
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 15px;
  text-transform: uppercase;
}
