.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}